body{
    background-image:url(../img/old-black-background-grunge-texture-blackboard-chalkboard-concrete_1258-52289.avif);
    background-size: cover;
}
.show {
    width: auto;
    height: 120px;
    width: 83.5vw;
    border: 1px solid rgb(45, 43, 43);
    text-align: center;
    background-color: aliceblue;
}
#addToCart {
    margin: auto;
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
    margin: 5px 0px;
}
.btn-warning{
    margin: 5px 100px;
}
#content {
    padding-top: 7px;
    padding-bottom: 5px;
}

#total {
    padding-bottom: 5px;
}
.card-img-top{
    height: 300px;
    width: 300px;
}